{% extends "base.html" %}

{% block main_content %}

        <main class="main pages pages-grids">


            <div class="grid-wrap wf-grid-titles">
                <div class="structure">
                    <div class="features">
                        <h1>
                            Modular CMS Grid Sizes
                        </h1>
                    </div>
                </div>
                <div class="structure grid">
                    <div class="col-1-1">
                        <div class="content">
                            <h2>col-1-1</h2>
                        </div>
                    </div>
                </div>
                <!-- Grid 1/2 -->
                <div class="structure grid">
                    <div class="col-1-2">
                        <div class="content">
                            <h2>col-1-2</h2>
                        </div>
                    </div>
                    <div class="col-1-2">
                        <div class="content">
                            <h2>
                                col-1-2
                            </h2>
                        </div>
                    </div>
                </div>

                <!-- Grid 1/3 -->
                <div class="structure grid">
                    <div class="col-1-3">
                        <div class="content">
                            <h2>
                                col-1-3
                            </h2>
                        </div>
                    </div>
                    <div class="col-1-3">
                        <div class="content">
                            <h2>
                                col-1-3
                            </h2>
                        </div>
                    </div>
                    <div class="col-1-3">
                        <div class="content">
                            <h2>
                                col-1-3
                            </h2>
                        </div>
                    </div>
                </div>
                <!-- Grid 1/4 -->
                <div class="structure grid grid-split">
                    <div class="col-1-4">
                        <div class="content">
                            <h2>
                                col-1-4
                            </h2>
                        </div>
                    </div>
                    <div class="col-1-4">
                        <div class="content">
                            <h2>
                                col-1-4
                            </h2>
                        </div>
                    </div>
                    <div class="col-1-4">
                        <div class="content">
                            <h2>
                                col-1-4
                            </h2>
                        </div>
                    </div>
                    <div class="col-1-4">
                        <div class="content">
                            <h2>
                                col-1-4
                            </h2>
                        </div>
                    </div>
                </div>

            </div>

            <div class="grid-wrap wf-grid-titles">
                <div class="structure">
                    <div class="features">
                        <h1>
                            Modular CMS Grid Variations
                        </h1>
                    </div>
                </div>



                <!-- 1 -->
                <div class="structure grid">
                    <div class="col-1-1">
                        <div class="content">
                            <h2>col-1-1</h2>
                        </div>
                    </div>
                </div>

                <!-- Grid 1/2 -->
                <div class="structure grid">
                    <div class="col-1-2">
                        <div class="content">
                            <h2>col-1-2</h2>
                        </div>
                    </div>
                    <div class="col-1-2">
                        <div class="content">
                            <h2>
                                col-1-2
                            </h2>
                        </div>
                    </div>
                </div>

                <!-- 1/3 layout -->
                <div class="structure grid">
                    <div class="col-1-3">
                        <div class="content">
                            <h2>
                                col-1-3
                            </h2>
                        </div>
                    </div>
                    <div class="col-1-3">
                        <div class="content">
                            <h2>
                                col-1-3
                            </h2>
                        </div>
                    </div>
                    <div class="col-1-3">
                        <div class="content">
                            <h2>
                                col-1-3
                            </h2>
                        </div>
                    </div>
                </div>

                <!-- 1/3 and 2/3 layout -->
                <div class="structure grid">
                    <div class="col-1-3">
                        <div class="content">
                            <h2>
                                col-1-3
                            </h2>
                        </div>
                    </div>
                    <div class="col-2-3">
                        <div class="content">
                            <h2>
                                col-2-3
                            </h2>
                        </div>
                    </div>
                </div>

                <!-- 2/3 and 1/3 layout -->
                <div class="structure grid">
                    <div class="col-2-3">
                        <div class="content">
                            <h2>
                                col-2-3
                            </h2>
                        </div>
                    </div>
                    <div class="col-1-3">
                        <div class="content">
                            <h2>
                                col-1-3
                            </h2>
                        </div>
                    </div>
                </div>

                <!-- Grid 1/4 -->
                <div class="structure grid grid-split">
                    <div class="col-1-4">
                        <div class="content">
                            <h2>
                                col-1-4
                            </h2>
                        </div>
                    </div>
                    <div class="col-1-4">
                        <div class="content">
                            <h2>
                                col-1-4
                            </h2>
                        </div>
                    </div>
                    <div class="col-1-4">
                        <div class="content">
                            <h2>
                                col-1-4
                            </h2>
                        </div>
                    </div>
                    <div class="col-1-4">
                        <div class="content">
                            <h2>
                                col-1-4
                            </h2>
                        </div>
                    </div>
                </div>

                <!-- 1/4 and 3/4 layout -->
                <div class="structure grid">
                    <div class="col-1-4">
                        <div class="content">
                            <h2>
                                col-1-4
                            </h2>
                        </div>
                    </div>
                    <div class="col-3-4">
                        <div class="content">
                            <h2>
                                col-3-4
                            </h2>
                        </div>
                    </div>
                </div>


                <!-- 3/4 and 1/4 layout -->
                <div class="structure grid">
                    <div class="col-3-4">
                        <div class="content">
                            <h2>
                                col-3-4
                            </h2>
                        </div>
                    </div>
                    <div class="col-1-4">
                        <div class="content">
                            <h2>
                                col-1-4
                            </h2>
                        </div>
                    </div>
                </div>

            </div>

            <div class="grid-wrap wf-grid-content">
                <div class="structure">
                    <div class="features">
                        <h1>
                            Modular CMS Content Example
                        </h1>
                    </div>
                </div>

                <!-- 1 -->
                <div class="structure grid">
                    <div class="col-1-1">
                        <div class="content">
                            <h2>Example of a full width template module</h2>
                            <p>Phone shop by Sainsbury's terms and conditions of use This legal notice applies to the contents of the website under the domain name www.phoneshopbysainsburys.co.uk (“Website”).Welcome to Phoneshopbysainsburys.co.uk Terms and Conditions for use. Please read this agreement carefully. These represent the Terms and Conditions for using this service. If you do not agree to these, you may not use this Website or register for use of the Website. You are permitted to use our Website solely on the basis of these Terms and Conditions. We reserve the right, at our discretion, to update and/or revise these Terms and Conditions. Please check periodically for changes.</p>
                        </div>
                    </div>
                </div>

                <!-- Grid 1/2 -->
                <div class="structure grid">
                    <div class="col-1-2">
                        <div class="content">
                            <img src="../bin/img/placeholder_img4.png" alt="" />
                        </div>
                    </div>
                    <div class="col-1-2">
                        <div class="content">
                            <h2>Example of a 1/2 width template module</h2>
                            <p>Phone shop by Sainsbury's terms and conditions of use This legal notice applies to the contents of the website under the domain name www.phoneshopbysainsburys.co.uk (“Website”).Welcome to Phoneshopbysainsburys.co.uk Terms and Conditions for use. Please read this agreement carefully. These represent the Terms and Conditions for using this service. If you do not agree to these, you may not use this Website or register for use of the Website. You are permitted to use our Website solely on the basis of these Terms and Conditions. We reserve the right, at our discretion, to update and/or revise these Terms and Conditions. Please check periodically for changes.</p>
                            <h2>This has both image and text</h2>
                            <p>You are permitted to use our Website solely on the basis of these Terms and Conditions. We reserve the right, at our discretion, to update and/or revise these Terms and Conditions. Please check periodically for changes.</p>
                        </div>
                    </div>
                </div>

                <!-- Grid 1/2 -->
                <div class="structure grid">
                    <div class="col-1-2">
                        <div class="content">
                            <div class="slider">
                                <ul class="slides">
                                    <li>
                                        <img src="../bin/img/slider_03.jpg" alt="" />
                                        <div class="text-bg">
                                            <h3>Earn Single Nectar points</h3>
                                            <p>When you add Family members</p>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="../bin/img/slider_02.jpg" alt="" />
                                        <div class="text-bg">
                                            <h3>Earn Double Nectar points</h3>
                                            <p>When you add Family members</p>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="../bin/img/placeholder_img4.png" alt="" />
                                        <div class="text-bg">
                                            <h3>Third slides are the best</h3>
                                            <p>When you add Family members</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-1-2">
                        <div class="content">
                            <h2>Example of a 1/2 width template module</h2>
                            <p>Phone shop by Sainsbury's terms and conditions of use This legal notice applies to the contents of the website under the domain name www.phoneshopbysainsburys.co.uk (“Website”).Welcome to Phoneshopbysainsburys.co.uk Terms and Conditions for use. Please read this agreement carefully. These represent the Terms and Conditions for using this service. If you do not agree to these, you may not use this Website or register for use of the Website. You are permitted to use our Website solely on the basis of these Terms and Conditions. We reserve the right, at our discretion, to update and/or revise these Terms and Conditions. Please check periodically for changes.</p>
                            <h2>This has both image and text</h2>
                            <p>You are permitted to use our Website solely on the basis of these Terms and Conditions. We reserve the right, at our discretion, to update and/or revise these Terms and Conditions. Please check periodically for changes.</p>
                        </div>
                    </div>
                </div>

                <!-- 1/3 layout -->
                <div class="structure grid">
                    <div class="col-1-3">
                        <div class="content">
                            <h2>Example of a 1/3 template module</h2>
                            <p>Phone shop by Sainsbury's terms and conditions of use This legal notice applies to the contents of the website under the domain name www.phoneshopbysainsburys.co.uk ("Website").Welcome to Phoneshopbysainsburys.co.uk Terms and Conditions for use. Please read this agreement carefully.</p>
                        </div>
                    </div>
                    <div class="col-1-3">
                        <div class="content">
                            <img src="../bin/img/placeholder_img4.png" alt="" />
                        </div>
                    </div>
                    <div class="col-1-3">
                        <div class="content">
                            <img src="../bin/img/placeholder_img4.png" alt="" />
                        </div>
                    </div>
                </div>

                <!-- 1/3 and 2/3 layout -->
                <div class="structure grid">
                    <div class="col-1-3">
                        <div class="content">
                            <img src="../bin/img/placeholder_img3.jpg" alt="" />
                        </div>
                    </div>
                    <div class="col-2-3">
                        <div class="content">
                            <h2>Example of a 1/3 with 2/3 template module</h2>
                            <p>Phone shop by Sainsbury's terms and conditions of use This legal notice applies to the contents of the website under the domain name www.phoneshopbysainsburys.co.uk ("Website").Welcome to Phoneshopbysainsburys.co.uk Terms and Conditions for use. Please read this agreement carefully. You are permitted to use our Website solely on the basis of these Terms and Conditions. We reserve the right, at our discretion, to update and/or revise these Terms and Conditions. Please check periodically for changes.</p>
                        </div>
                    </div>
                </div>

                <!-- 2/3 and 1/3 layout -->
                <div class="structure grid">
                    <div class="col-2-3">
                        <div class="content">
                            <h2>Example of a 2/3 with 1/3 template module</h2>
                            <p>Phone shop by Sainsbury's terms and conditions of use This legal notice applies to the contents of the website under the domain name www.phoneshopbysainsburys.co.uk ("Website").Welcome to Phoneshopbysainsburys.co.uk Terms and Conditions for use. Please read this agreement carefully. You are permitted to use our Website solely on the basis of these Terms and Conditions. We reserve the right, at our discretion, to update and/or revise these Terms and Conditions. Please check periodically for changes.</p>
                        </div>
                    </div>
                    <div class="col-1-3">
                        <div class="content">
                            <img src="../bin/img/placeholder_img2.jpg" alt="" />
                        </div>
                    </div>
                </div>

                <!-- Grid 1/4 -->
                <div class="structure grid grid-split">
                    <div class="col-1-4">
                        <div class="content">
                            <img src="../bin/img/placeholder_img4.png" alt="" />
                            <p>Phone shop by Sainsbury's terms and conditions of use This legal notice applies to the contents of the website under the domain name.</p>
                            <img src="../bin/img/placeholder_button.png" alt="" />
                        </div>
                    </div>
                    <div class="col-1-4">
                        <div class="content">
                            <img src="../bin/img/placeholder_img4.png" alt="" />
                            <p>Phone shop by Sainsbury's terms and conditions of use This legal notice applies to the contents of the website under the domain name.</p>
                            <img src="../bin/img/placeholder_button.png" alt="" />
                        </div>
                    </div>
                    <div class="col-1-4">
                        <div class="content">
                            <img src="../bin/img/placeholder_img4.png" alt="" />
                            <p>Phone shop by Sainsbury's terms and conditions of use This legal notice applies to the contents of the website under the domain name.</p>
                            <img src="../bin/img/placeholder_button.png" alt="" />
                        </div>
                    </div>
                    <div class="col-1-4">
                        <div class="content">
                            <img src="../bin/img/placeholder_img4.png" alt="" />
                            <p>Phone shop by Sainsbury's terms and conditions of use This legal notice applies to the contents of the website under the domain name.</p>
                            <img src="../bin/img/placeholder_button.png" alt="" />
                        </div>
                    </div>
                </div>

                <!-- 1/4 and 3/4 layout -->
                <div class="structure grid">
                    <div class="col-1-4">
                        <div class="content">
                            <img src="../bin/img/placeholder_img4.png" alt="" />
                        </div>
                    </div>
                    <div class="col-3-4">
                        <div class="content">
                            <h2>Example of a 1/4 with 3/4 template module</h2>
                            <p>Phone shop by Sainsbury's terms and conditions of use This legal notice applies to the contents of the website under the domain name www.phoneshopbysainsburys.co.uk ("Website").Welcome to Phoneshopbysainsburys.co.uk Terms and Conditions for use. Please read this agreement carefully. You are permitted to use our Website solely on the basis of these Terms and Conditions. We reserve the right, at our discretion, to update and/or revise these Terms and Conditions. Please check periodically for changes.</p>
                        </div>
                    </div>
                </div>


                <!-- 3/4 and 1/4 layout -->
                <div class="structure grid">
                    <div class="col-3-4">
                        <div class="content">
                            <h2>Example of a 3/4 with 1/4 template module</h2>
                            <p>Phone shop by Sainsbury's terms and conditions of use This legal notice applies to the contents of the website under the domain name www.phoneshopbysainsburys.co.uk ("Website").Welcome to Phoneshopbysainsburys.co.uk Terms and Conditions for use. Please read this agreement carefully. You are permitted to use our Website solely on the basis of these Terms and Conditions. We reserve the right, at our discretion, to update and/or revise these Terms and Conditions. Please check periodically for changes.</p>
                        </div>
                    </div>
                    <div class="col-1-4">
                        <div class="content">
                            <img src="../bin/img/placeholder_img4.png" alt="" />
                        </div>
                    </div>
                </div>

            </div>


            <div class="grid-wrap wf-grid-titles">
                <div class="structure">
                    <div class="features">
                        <h1>
                            Possible Grid Sizes
                        </h1>
                    </div>
                </div>
                <div class="structure grid">
                    <div class="col-1-1">
                        <div class="content">
                            <h2>col-1-1</h2>
                        </div>
                    </div>
                </div>
                <!-- Grid 1/2 -->
                <div class="structure grid">
                    <div class="col-1-2">
                        <div class="content">
                            <h2>col-1-2</h2>
                        </div>
                    </div>
                    <div class="col-1-2">
                        <div class="content">
                            <h2>
                                col-1-2
                            </h2>
                        </div>
                    </div>
                </div>

                <!-- Grid 1/3 -->
                <div class="structure grid">
                    <div class="col-1-3">
                        <div class="content">
                            <h2>
                                col-1-3
                            </h2>
                        </div>
                    </div>
                    <div class="col-1-3">
                        <div class="content">
                            <h2>
                                col-1-3
                            </h2>
                        </div>
                    </div>
                    <div class="col-1-3">
                        <div class="content">
                            <h2>
                                col-1-3
                            </h2>
                        </div>
                    </div>
                </div>
                <!-- Grid 1/4 -->
                <div class="structure grid grid-split">
                    <div class="col-1-4">
                        <div class="content">
                            <h2>
                                col-1-4
                            </h2>
                        </div>
                    </div>
                    <div class="col-1-4">
                        <div class="content">
                            <h2>
                                col-1-4
                            </h2>
                        </div>
                    </div>
                    <div class="col-1-4">
                        <div class="content">
                            <h2>
                                col-1-4
                            </h2>
                        </div>
                    </div>
                    <div class="col-1-4">
                        <div class="content">
                            <h2>
                                col-1-4
                            </h2>
                        </div>
                    </div>
                </div>

                <!-- Grid 1/10 -->
                <div class="structure grid">
                    <div class="col-1-10">
                        <div class="content">
                            <h2>
                                1-10
                            </h2>
                        </div>
                    </div>
                    <div class="col-1-10">
                        <div class="content">
                            <h2>
                                1-10
                            </h2>
                        </div>
                    </div>
                    <div class="col-1-10">
                        <div class="content">
                            <h2>
                                1-10
                            </h2>
                        </div>
                    </div>
                    <div class="col-1-10">
                        <div class="content">
                            <h2>
                                1-10
                            </h2>
                        </div>
                    </div>
                    <div class="col-1-10">
                        <div class="content">
                            <h2>
                                1-10
                            </h2>
                        </div>
                    </div>
                    <div class="col-1-10">
                        <div class="content">
                            <h2>
                                1-10
                            </h2>
                        </div>
                    </div>
                    <div class="col-1-10">
                        <div class="content">
                            <h2>
                                1-10
                            </h2>
                        </div>
                    </div>
                    <div class="col-1-10">
                        <div class="content">
                            <h2>
                                1-10
                            </h2>
                        </div>
                    </div>
                    <div class="col-1-10">
                        <div class="content">
                            <h2>
                                1-10
                            </h2>
                        </div>
                    </div>
                    <div class="col-1-10">
                        <div class="content">
                            <h2>
                                1-10
                            </h2>
                        </div>
                    </div>
                </div>

                <!-- Grid 1/12 -->
                <div class="structure grid">
                    <div class="col-1-12">
                        <div class="content">
                            <h2>
                                1-12
                            </h2>
                        </div>
                    </div>
                    <div class="col-1-12">
                        <div class="content">
                            <h2>
                                1-12
                            </h2>
                        </div>
                    </div>
                    <div class="col-1-12">
                        <div class="content">
                            <h2>
                                1-12
                            </h2>
                        </div>
                    </div>
                    <div class="col-1-12">
                        <div class="content">
                            <h2>
                                1-12
                            </h2>
                        </div>
                    </div>
                    <div class="col-1-12">
                        <div class="content">
                            <h2>
                                1-12
                            </h2>
                        </div>
                    </div>
                    <div class="col-1-12">
                        <div class="content">
                            <h2>
                                1-12
                            </h2>
                        </div>
                    </div>
                    <div class="col-1-12">
                        <div class="content">
                            <h2>
                                1-12
                            </h2>
                        </div>
                    </div>
                    <div class="col-1-12">
                        <div class="content">
                            <h2>
                                1-12
                            </h2>
                        </div>
                    </div>
                    <div class="col-1-12">
                        <div class="content">
                            <h2>
                                1-12
                            </h2>
                        </div>
                    </div>
                    <div class="col-1-12">
                        <div class="content">
                            <h2>
                                1-12
                            </h2>
                        </div>
                    </div>
                    <div class="col-1-12">
                        <div class="content">
                            <h2>
                                1-12
                            </h2>
                        </div>
                    </div>
                    <div class="col-1-12">
                        <div class="content">
                            <h2>
                                1-12
                            </h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-wrap wf-grid-titles">
                <div class="structure">
                    <div class="features">
                        <h1>
                            Modular CMS Grid Variations
                        </h1>
                    </div>
                </div>
                <!-- 11/12 and 1/12 layout -->
                <div class="structure grid">
                    <div class="col-1-12">
                    <div class="content">
                            <h2>
                                1-12
                            </h2>
                        </div>              </div>
                    <div class="col-11-12">
                    <div class="content">
                            <h2>
                                col-11-12
                            </h2>
                        </div>
                    </div>
                </div>
                <!-- 10/12 and 2/12 layout -->
                <div class="structure grid">
                    <div class="col-2-12">
                        <div class="content">
                            <h2>
                                col-2-12
                            </h2>
                        </div>
                    </div>
                    <div class="col-10-12">
                    <div class="content">
                            <h2>
                                col-10-12
                            </h2>
                        </div>
                    </div>
                </div>
                <!-- 9/12 and 3/12 layout -->
                <div class="structure grid">
                    <div class="col-3-12">
                        <div class="content">
                            <h2>
                                col-3-12
                            </h2>
                        </div>
                    </div>
                    <div class="col-9-12">
                    <div class="content">
                            <h2>
                                col-9-12
                            </h2>
                        </div>
                    </div>
                </div>
                <!-- 8/12 and 4/12 layout -->
                <div class="structure grid">
                    <div class="col-4-12">
                        <div class="content">
                            <h2>
                                col-4-12
                            </h2>
                        </div>
                    </div>
                    <div class="col-8-12">
                    <div class="content">
                            <h2>
                                col-8-12
                            </h2>
                        </div>
                    </div>
                </div>
                <!-- 7/12 and 5/12 layout -->
                <div class="structure grid">
                    <div class="col-5-12">
                    <div class="content">
                            <h2>
                                col-5-12
                            </h2>
                        </div>
                    </div>
                    <div class="col-7-12">
                    <div class="content">
                            <h2>
                                col-7-12
                            </h2>
                        </div>
                    </div>
                </div>
                <!-- 6/12 and 6/12 layout -->
                <div class="structure grid">
                    <div class="col-6-12">
                    <div class="content">
                            <h2>
                                col-6-12
                            </h2>
                        </div>
                    </div>
                    <div class="col-6-12">
                    <div class="content">
                            <h2>
                                col-6-12
                            </h2>
                        </div>
                    </div>
                </div>
                <!-- 7/12 and 5/12 layout -->
                <div class="structure grid">
                    <div class="col-7-12">
                    <div class="content">
                            <h2>
                                col-7-12
                            </h2>
                        </div>
                    </div>
                    <div class="col-5-12">
                    <div class="content">
                            <h2>
                                col-5-12
                            </h2>
                        </div>
                    </div>
                </div>
                <!-- 8/12 and 4/12 layout -->
                <div class="structure grid">
                    <div class="col-8-12">
                    <div class="content">
                            <h2>
                                col-8-12
                            </h2>
                        </div>
                    </div>
                    <div class="col-4-12">
                    <div class="content">
                            <h2>
                                col-4-12
                            </h2>
                        </div>
                    </div>
                </div>
                <!-- 9/12 and 3/12 layout -->
                <div class="structure grid">
                    <div class="col-9-12">
                    <div class="content">
                            <h2>
                                col-9-12
                            </h2>
                        </div>
                    </div>
                    <div class="col-3-12">
                    <div class="content">
                            <h2>
                                col-3-12
                            </h2>
                        </div>
                    </div>
                </div>
                <!-- 10/12 and 2/12 layout -->
                <div class="structure grid">
                    <div class="col-10-12">
                    <div class="content">
                            <h2>
                                col-10-12
                            </h2>
                        </div>
                    </div>
                    <div class="col-2-12">
                    <div class="content">
                            <h2>
                                col-2-12
                            </h2>
                        </div>
                    </div>
                </div>
                <!-- 11/12 and 1/12 layout -->
                <div class="structure grid">
                    <div class="col-11-12">
                    <div class="content">
                            <h2>
                                col-11-12
                            </h2>
                        </div>
                    </div>
                    <div class="col-1-12">
                    <div class="content">
                            <h2>
                                1-12
                            </h2>
                        </div>
                    </div>
                </div>
            </div>

        </main>

{% endblock %}