{% extends "base.html" %}

{% block main_content %}

        <main class="main pages pages-home">

            <div class="hero">
            	<div class="structure">
            		<div class="detail">
                		<img src="../bin/img/home-hero-detail.png" alt="" />
                	</div>
                </div>
            </div>

            <div class="promo-wrap structure grid grid-split">
                <div class="col-1-2">
                    <div class="content">
                        <div class="slider">
                            <ul class="slides">
                                <li>
                                    <img src="../bin/img/slider_03.jpg" alt="" />
                                    <div class="text-bg">
                                        <h3>Earn Single Nectar points</h3>
                                        <p>When you add Family members</p>
                                    </div>
                                </li>
                                <li>
                                    <img src="../bin/img/slider_02.jpg" alt="" />
                                    <div class="text-bg">
                                        <h3>Earn Double Nectar points</h3>
                                        <p>When you add Family members</p>
                                    </div>
                                </li>
                                <li>
                                    <img src="../bin/img/placeholder_img4.png" alt="" />
                                    <div class="text-bg">
                                        <h3>Third slides are the best</h3>
                                        <p>When you add Family members</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-1-4">
                    <img src="../bin/img/home-promo-1-4.png" alt="" />
                </div>
                <div class="col-1-4">
                    <img src="../bin/img/home-promo-2-4.png" alt="" />
                </div>
                <div class="col-1-4">
                    <img src="../bin/img/home-promo-3-4.png" alt="" />
                </div>
                <div class="col-1-4">
                    <img src="../bin/img/home-promo-4-4.png" alt="" />
                </div>
            </div>

        </main>

{% endblock %}