{% extends "base.html" %}

{% block main_content %}

        <main class="main pages pages-plans">

            <div class="breadcrumbs">
                <div class="structure">
                    <p>
                        <span>You are here in</span> <a href="#">Home</a> &gt; <a href="#">Shop</a> &gt; <a href="#">Phones</a> &gt; <a href="#">iPhone5s</a> &gt; <span class="selected">16gb Plans</span>
                    </p>
                </div>
            </div>

            <div class="plans-showme">
                <div class="structure">
                   <img src="../bin/img/plans-showme.png" alt="" />
                </div>
            </div>

            <div class="plans-banner">
                <div class="structure">
                   <img src="../bin/img/plans-banner.png" alt="" />
                </div>
            </div>

            <div class="content-wrap">

                <div class="structure grid">

                    <div class="col-1-1 plans-chosen">
                        <h2>1. You've chosen...</h2>
                        <img src="../bin/img/plans-chosen.png" alt="" />
                    </div>

                    <div class="col-with-fixed col-with-fixed-3-12">
                        <div class="with-fixed-inner">
                            <h2>2. Now, choose your plan</h2>

                            <table class="choose-plan respond-table">
                                <thead>
                                    <tr>
                                        <th>Plans</th>
                                        <th>Monthly cost</th>
                                        <th>Minutes</th>
                                        <th>Texts</th>
                                        <th>Data</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="cp-plan"><img src="../bin/img/plans-plan-s.png" alt="" /></td>
                                        <td>&pound;7.50</td>
                                        <td>500 <span>mins</span></td>
                                        <td class="cp-texts">Unlimited</td>
                                        <td class="cp-data">500<span>MB</span></td>
                                        <td class="cp-additional">
                                            <div>
                                                <span><img src="../bin/img/plans-doublepoints.png" alt="" /></span>
                                            </div>
                                            <div>
                                                <span class="cd-saving">Save <span>&pound;5</span></span>
                                            </div>
                                            <div>
                                                <span><a class="btn-select"href="#">Select</a></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="cp-plan"><img src="../bin/img/plans-plan-m.png" alt="" /></td>
                                        <td>&pound;10</td>
                                        <td>500 <span>mins</span></td>
                                        <td class="cp-texts">Unlimited</td>
                                        <td class="cp-data">500<span>MB</span></td>
                                        <td class="cp-additional">
                                            <div>
                                                <span><img src="../bin/img/plans-doublepoints.png" alt="" /></span>
                                            </div>
                                            <div>
                                                <span class="cd-saving">Save <span>&pound;5</span></span>
                                            </div>
                                            <div>
                                                <span><a class="btn-select"href="#">Select</a></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="cp-plan"><img src="../bin/img/plans-plan-l.png" alt="" /></td>
                                        <td>&pound;10</td>
                                        <td>500 <span>mins</span></td>
                                        <td class="cp-texts">Unlimited</td>
                                        <td class="cp-data">500<span>MB</span></td>
                                        <td class="cp-additional">
                                            <div>
                                                <span><img src="../bin/img/plans-doublepoints.png" alt="" /></span>
                                            </div>
                                            <div>
                                                <span class="cd-saving">Save <span>&pound;5</span></span>
                                            </div>
                                            <div>
                                                <span><a class="btn-select"href="#">Select</a></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="cp-plan"><img src="../bin/img/plans-plan-payg.png" alt="" /></td>
                                        <td>&pound;10</td>
                                        <td>500 <span>mins</span></td>
                                        <td class="cp-texts">Unlimited</td>
                                        <td class="cp-data">500<span>MB</span></td>
                                        <td class="cp-additional">
                                            <div>
                                                <span><img src="../bin/img/plans-doublepoints.png" alt="" /></span>
                                            </div>
                                            <div>
                                                <span class="cd-saving">Save <span>&pound;5</span></span>
                                            </div>
                                            <div>
                                                <span><a class="btn-select"href="#">Select</a></span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                            <div class="choose-plan-alternate" aria-hidden="true">
                                <div class="col-1-2 plan-wrap">
                                    <h3>Plan</h3>
                                    <img class="cd-img-plan" src="../bin/img/plans-plan-s.png" alt="" />

                                    <div class="promo-wrap">
                                        <img class="cd-img-promo" src="../bin/img/plans-doublepoints.png" alt="" /></span>
                                        <img class="cd-img-promo" src="../bin/img/plans-promo-saving5.png" alt="" /></span>
                                    </div>

                                    <p class="cp-cost">&pound;7.50 per month</p>
                                    <ul>
                                        <li>Minutes <span>500 mins</span></li>
                                        <li>Texts <span>unlimited</span></li>
                                        <li>Data <span>500MB</span></li>
                                    </ul>
                                    <p class="cd-description">An extra line of text about what you get with this plan</p>
                                    <a class="btn-select"href="#">Select</a>
                                </div>
                                <div class="col-1-2 plan-wrap">
                                    <h3>Plan</h3>
                                    <img class="cd-img-plan" src="../bin/img/plans-plan-m.png" alt="" />

                                    <div class="promo-wrap">
                                        <img class="cd-img-promo" src="../bin/img/plans-doublepoints.png" alt="" /></span>
                                        <img class="cd-img-promo" src="../bin/img/plans-promo-saving10.png" alt="" /></span>
                                    </div>

                                    <p class="cp-cost">&pound;7.50 per month</p>
                                    <ul>
                                        <li>Minutes <span>500 mins</span></li>
                                        <li>Texts <span>unlimited</span></li>
                                        <li>Data <span>500MB</span></li>
                                    </ul>
                                    <p class="cd-description">An extra line of text about what you get with this plan</p>
                                    <a class="btn-select"href="#">Select</a>
                                </div>
                                <div class="col-1-2 plan-wrap">
                                    <h3>Plan</h3>
                                    <img class="cd-img-plan" src="../bin/img/plans-plan-l.png" alt="" />

                                    <div class="promo-wrap">
                                        <img class="cd-img-promo" src="../bin/img/plans-doublepoints.png" alt="" /></span>
                                        <img class="cd-img-promo" src="../bin/img/plans-promo-saving15.png" alt="" /></span>
                                    </div>

                                    <p class="cp-cost">&pound;7.50 per month</p>
                                    <ul>
                                        <li>Minutes <span>500 mins</span></li>
                                        <li>Texts <span>unlimited</span></li>
                                        <li>Data <span>500MB</span></li>
                                    </ul>
                                    <p class="cd-description">An extra line of text about what you get with this plan</p>
                                    <a class="btn-select"href="#">Select</a>
                                </div>
                                <div class="col-1-2 plan-wrap">
                                    <h3>Plan</h3>
                                    <img class="cd-img-plan" src="../bin/img/plans-plan-payg.png" alt="" />

                                    <div class="promo-wrap">
                                        <img class="cd-img-promo" src="../bin/img/plans-doublepoints.png" alt="" /></span>
                                        <img class="cd-img-promo" src="../bin/img/plans-promo-saving5.png" alt="" /></span>
                                    </div>

                                    <p class="cp-cost">&pound;7.50 per month</p>
                                    <ul>
                                        <li>Minutes <span>500 mins</span></li>
                                        <li>Texts <span>unlimited</span></li>
                                        <li>Data <span>500MB</span></li>
                                    </ul>
                                    <p class="cd-description">An extra line of text about what you get with this plan</p>
                                    <a class="btn-select"href="#">Select</a>
                                </div>
                            </div>



                        </div>
                    </div>

                    <div class="col-3-12 col-fixed basket">
                        <h2>3. And... here's your bill</h2>
                        <img class="hide-tablet" src="../bin/img/plans-basket-wide.png" alt="" />
                        <img class="show-tablet" src="../bin/img/plans-basket.png" alt="" />
                    </div>

                </div>

            </div>

        </main>

{% endblock %}