/**
 * @class css.
 *
 *
 * ## Usage
 * Import into your main file using
 *
 *     @import "__";
 *
 */

.story-block-infograph {
	position: relative;

	.no-js & {
		display: none;
	}

	.tint-overlay {
		background-image: none;
		 @include background-transparent(#000, .7);
	}

	.aspect {
		min-height: 450px;
	}

	.infograph {
		@include opacity(0);
		position: relative;

		.infograph-loaded & {
			@include opacity(1);
		}

		.slides > li {
			display: none;
			-webkit-backface-visibility: hidden;

			.no-js & {
				display: block;
			}
		}

		.slides {
			display: block;

			img {
				width: 100%;
				display: block;
			}
			&:after {
				display: block;
				clear: both;
				visibility: hidden;
				line-height: 0;
				height: 0;
			}
		}
	} /* Hide the slides before the JS is loaded. Avoids image jumping */



	// Left/Right Navigation arrows
	.flex-direction-nav {
		display: none;
	}


	@include mq($from: smalldesktop) {

		/* Direction Nav */
		.flex-direction-nav {
			display: block;
			list-style-type: none;

			li {
				position: absolute;
				cursor: pointer;
				top: 12px;
				right: 0;

				&:first-child {
					right: auto;
					left: 0;
				}

				a  {
					@include transition(opacity 0.3s ease-out);
					@include text-shadow(1px, 1px, 1px, #000);
					@include opacity(0.7);
					display: block;
					color: #fff;
					outline: 0;

					&:hover {
						@include opacity(1);
						text-decoration: none;
					}

					&:before  {
						@include anti-alias-text;
						@include font(25, 25, $font-icomoon-main);
					    speak: none;
					    font-style: normal;
					    font-weight: normal;
					    font-variant: normal;
					    text-transform: none;
					    line-height: 1;
					    content: "\e606";
						display: inline-block;
					}

					&.flex-next:before  {
						content: "\e605";
					}
				}
			}

		}

	}

	@include mq($from: desktop) {
		.flex-direction-nav {
			li {
				top: 12px;
				a  {
					&:before  {
						@include font(30, 30, $font-icomoon-main);
					}
				}
			}
		}
	}


	// Data bars with icons and numbers
	.data-wrap {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		z-index: 500;
		width: 95%;
		text-align: center;

		.data-col {
			width: 25%;
			margin: 0;
			display: inline-block;
			vertical-align: bottom;
			text-align: center;

			&:first-child {
				margin-left: 0;
			}
		}

			.data-total,
			.data-icon {
				color: #fff;
				text-align: center;
				display: inline-block;
			}

			.data-total {
				@include font(20, 20);
				font-weight: 300;
				width: 100%;
				margin-bottom: 6px;
			}

			.data-icon {
				text-align: center;
				width: 40%;
				max-width: 75px;

				img {
					border-top: 2px solid #fff;
					padding-top: 10px;
					display: inline-block;
					margin-bottom: 6px;
				}
			}

			.data-bar {
				background-color: $color-orange;
				width: 20%;
				margin: 0 auto;
				max-width: 80px;
			}



		@include mq($from: tablet) {
			width: 85%;
			bottom: 113px;

			.data-total {
				@include font(30, 30);
			}

			.data-bar {
				width: 40%;
			}

		}

		@include mq($from: smalldesktop) {
			width: 80%;

			.data-total {
				@include font(40, 40);
			}

			.data-bar {
				width: 40%;
			}

		}

		@include mq($from: desktop) {


			.data-total {
				@include font(50, 50);
			}

			.data-bar {
				width: 40%;
				max-width: 90px;
			}
		}


	}



	// Date navigation buttons
	.infograph-bottom-wrap {
		@include background-transparent(#000, .5);
		position: absolute;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		z-index: 500;
		bottom: 0;
		left: 0;
		right: 0;
		border-top: 1px solid #fff;
		max-width: none;

		.infograph-nav-wrap {
			position: relative;
			margin: 0 auto 0;
			display: inline-block;

			@include mq($from: smalldesktop) {
				padding: 0 40px;
			}

			.infograph-nav {

				list-style-type: none;

				li {
					@include transition(padding 0.3s ease-out);
					float: left;
					padding: 0;
					border-bottom: 1px solid #fff;

					&.flex-active,
					&:hover {
						background: #fff !important;
						a {
							color: #000;
						}
					}

					&:first-child {
						a {
							border-left: 1px solid #fff;
						}
					}

					a {
						@include font(15, 18, $font-roboto);
						display: block;
						font-weight: 300;
						color: #fff;
						border-right: 1px solid #fff;
						padding: 12px 2px;
						outline: none;

						&:hover {
							text-decoration: none;
						}

					}
				}

				@include mq($from: tablet) {
					li {
						a {
							@include font(18, 22, $font-roboto);
							padding: 10px 9px;
						}
					}
				}

				@include mq($from: desktop) {
					li {
						a {
							padding: 10px 50px 20px 10px;
						}
					}
				}


			}

		}

		.infograph-key-wrap {


			ul {
				display: inline-block;
				margin: 15px auto;
				z-index: 2000;
				list-style-type: none;
				width: 100%;

				li {
					@include font(15, 19);
					color: #fff;
					text-align: center;
					display: inline-block;
					width: 50%;
					margin-bottom: 5px;

					&:first-child {
						margin-left: 0;
					}

					img,
					span {
						display: inline-block;
						text-align: center;
						margin: 0 auto;
						vertical-align: middle;
					}

					img {
						margin-right: 5px;
					}
				}
			}

			@include mq($from: tablet) {

				ul {
					li {
						width: auto;
						margin-left: 20px;
					}
				}


			}

		}

	}


	// Heading styles
	.caption-wrap {

		background: none;

		.structure-wrap {
			position: static;
		}

		h2 {
			@include font(25, 29, $font-roboto);
			background: none;
			margin: 0;
			font-weight: 300;
		    color: #fff;
			position: absolute;
			z-index: 1000;
			margin-top: 30px;
			left: 30px;
			border-style:solid;
			border-width:0 0 0 2px;
			padding-left: 10px;
			width: 70%;
			top: 0;
		}

		@include mq($from: smalldesktop) {
			h2 {
				@include font(30, 34, $font-roboto);
				margin-top: 40px;
				left: 50px;
				border-width:0 0 0 3px;
				padding-left: 20px;
			}
		}

		@include mq($from: desktop) {
			h2 {
				margin-top: 50px;
			}
		}

	}
}


// IE Doesn't support the background fix for the infographs
.lt-ie9 {
	.story-block-infograph {
		.aspect-outer {
			background: none;

			.aspect {
				padding-top: 0 !important;

				img {
					display: block !important;
				}
			}
		}
	}
}