/**
 * @class css.pages.page
 *
 * Use this for default page styles that apply to all pages
 *
 * ## Usage
 * Import into your main file using
 *
 *     @import "__pages/page";
 *
 */

.page {

	.intro-wrap {
		padding: 25px 0 25px 0;

		h1 {
			border-left: 2px solid #f7921c;
			padding-left: 15px;
		}
	}

	.video-wrap {
		background-color: #000;

		iframe {
			width: 100%;
			padding-top: 56.25%;
		}

		.fluid-width-video-wrapper {
			iframe {
				padding-top: 0;
			}
		}
	}

}
