<header class="header-primary">
	<div class="structure grid">
		<div class="col-6-12 logo-wrap">
			<img src="../bin/img/logo-main.png" alt="" />
		</div>
		<div class="col-6-12 links-wrap">
			<img src="../bin/img/nav-links.png" alt="" />
		</div>
	</div>

	<div class="structure grid">
		<div class="col-8-12 nav-primary">
			<img class="nav-full" src="../bin/img/nav.png" alt="" />
		</div>
		<div class="col-4-12 search-wrap">
			<img class="search" src="../bin/img/header-search.png" alt="" />
			<img class="nav-mobile" src="../bin/img/nav-menu.png" alt="" />
			<img class="search-mobile" src="../bin/img/nav-search.png" alt="" />
		</div>
	</div>
</header>